.featuredPost {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  #postLink {
    width: 100%;
    cursor: pointer;
  }
  
  

#imgbox {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.4s ease-in-out;
    position: relative;
    z-index: 0;
    transition: all 0.5s ease-in-out;
  }
  
  #imgbox::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, transparent, black);
    z-index: 2;
  }
  
  #imgbox:hover {
    transform: scale(1.15);
    transition: all 1s ease-in-out;
  }
  
  .featuredPostTitle h1 {
    background-image: linear-gradient(white, white);
    background-size: 0 2px;
    background-position: bottom left;
    background-repeat: no-repeat;
    transition: background-size 0.4s;
    font-family: "Nunito Sans", sans-serif;
    color: white;
    display: inline;
    font-size: 3.6em;
    /* width: 200px; */
    /* z-index: 10000; */
    transition: background-size 0.5s;
    font-weight: 700;
    /* margin-bottom: 1em; */
    word-wrap: break-word;
  }
  
  .featuredPostTitle h1:hover {
    background-repeat: no-repeat;
    background-size: 100% 2px !important;
    transition: background-size 1s;
  }
  
  .textDisc {
    /* top: 5em; */
    bottom: 2em;
    left: 25px;
    right: 25px;
    position: absolute;
    font-family: "Rubik", sans-serif;
  }
  
  #categoryDiv {
    display: flex;
    padding: 0.4em 1em;
    align-items: center;
    position: relative;
    border-radius: 1em;
    width: fit-content;
    margin-bottom: 1em;
    z-index: 100;
  }
  
  #category {
    color: white;
    font-size: 1.6em;
    padding-left: 0.5em;
    font-weight: 400;
  }
  
  #excerpt {
    color: white;
    font-size: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    z-index: -100;
  }
  
  #postDetails {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
  }
  
  #postDetails > label {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    margin-left: 1em;
  }
  
  #authorDiv {
    display: flex;
    align-items: center;
  }
  
  #authorName {
    color: white;
    font-size: 1.6em;
    margin-left: .5em;
  }
  
  #postDetails > span {
    margin: 1em;
    font-size: 1.6em;
  }

  .authorNameLink{
    background-image: linear-gradient(white,white);
    background-size: 0 1.5px;
    background-position: bottom left;
    background-repeat: no-repeat;
    transition: background-size .4s;
    z-index: 100;
  }

  .authorNameLink:hover{
    background-size: 100% 1.5px;
    transition: background-size .4s;
  }
