.featuredPostBox {
  width: 100%;
  height: auto;
}

.featuredPostdiv {
  width: 100%;
  display: flex;
  height: 60em;
  margin: auto;
  margin-top: 3em;
}

.box {
  margin: 1.8em;

  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
}
#box {
  margin: 1.8em;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
}

.box1 {
  width: 50%;
  margin-left: 0;
}

.box2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.box3 {
  height: 50%;
  margin-right: 0;
}

.box4 {
  display: flex;
  height: 50%;
}

.box5 {
  width: 50%;
}

.box6 {
  width: 50%;
  margin-right: 0;
}

.featuredPost {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#postLink {
  width: 100%;
  cursor: pointer;
}

#imgbox {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
  position: relative;
  z-index: 0;
  transition: all 0.5s ease-in-out;
}

#imgbox:hover {
  transform: scale(1.15);
  transition: all 0.5s ease-in-out;
}

.featuredPostTitle h1 {
  background-image: linear-gradient(white, white);
  background-size: 0 2px;
  background-position: bottom left;
  background-repeat: no-repeat;
  transition: background-size 0.4s;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  display: inline;
  font-size: 3.6em;
  width: 200px;
  z-index: 10000;
  transition: background-size 0.5s;
}

.featuredPostTitle h1:hover {
  background-repeat: no-repeat;
  background-size: 100% 2px !important;
  transition: background-size 1s;
}

.textDisc {
  /* top: 5em; */
  bottom: 2em;
  left: 25px;
  right: 25px;
  position: absolute;
  font-family: "Rubik", sans-serif;
}

#categoryDiv {
  display: flex;
  padding: 0.4em 1em;
  align-items: center;
  position: relative;
  border-radius: 1em;
  width: fit-content;
  margin-bottom: 1em;
  z-index: 100;
}

#category {
  color: white;
  font-size: 1.6em;
  padding-left: 0.5em;
  font-weight: 400;
}

.excerpt {
  color: white;
  font-size: 1.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  z-index: -100;
}

#postDetails {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
}

#postDetails > label {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  margin-left: 1em;
}

#authorDiv {
  display: flex;
  align-items: center;
}

#authorAvatar {
  margin-right: 1em;
}

#authorName {
  color: white;
  font-size: 1.6em;
}

#postDetails > span {
  margin: 1em;
  font-size: 1.6em;
}
