@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  transition: all 0.2s ease;
  margin: auto !important;
}

#home,
#top__header,
#header {
  width: 78%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  transition: all 0.1s;
}

.featuredPostBox {
  width: 100%;
}

.animateText {
  background-size: 100% 2px !important;
  transition: background-size 1s;
}
.animateRecentText {
  background-size: 100% 1px !important;
  transition: background-size 0.5s;
}

.animateImg {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}

.circle {
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* filter: contrast(1.5); */
  animation: aniCircle 0.2s backwards;
}

@media only screen and (min-width: 1410px) {
  #home {
    font-size: 105%;
  }

  /* Start TopHeader */

  #top__header {
  }

  /* Start FeaturedPostBox*/

  #featuredPostDiv {
    height: 60em + 25vw;
  }
}

@media only screen and (max-width: 1400px) {
  #home,
  #top__header,
  #header,
  #postDetailsBox,
  #blogPostPage {
    width: 84%;
  }
}

@media only screen and (max-width: 1200px) {
  #home,
  #top__header,
  #header,
  #blogPostPage {
    width: 90%;
    font-size: 96%;
  }
  #postDetailsBox {
    width: 90%;
  }
  #fplTitle {
    font-size: 3.2em;
  }
  #fplExcerpt {
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 1100px) {
  #home,
  #top__header,
  #header,
  #blogPostPage {
    width: 94%;
    font-size: 94%;
  }
  #postDetailsBox {
    width: 94%;
    font-size: 96%;
  }
}

@media only screen and (max-width: 1050px) {
  #home,
  #top__header,
  #header,
  #blogPostPage {
    width: 96%;
    font-size: 90%;
  }
  #postDetailsBox {
    width: 96%;
    font-size: 94%;
  }
}

@media only screen and (max-width: 990px) {
  #home,
  #header {
    width: 80%;
    font-size: 100%;
  }
  #postDetailsBox {
    width: 80%;
    font-size: 100%;
  }
  #postContentBox {
    flex-direction: column;
  }
  #postContentDiv {
    width: 100%;
  }
  #moreDetailsRight {
    padding-left: 0;
  }
  #featuredImageDiv {
    background-size: 120% !important;
  }
  #textCarouselButtons {
    display: none;
  }
  #top__header {
    display: none !important;
  }
  #menu {
    display: none;
  }
  #smMenuDiv {
    display: flex !important;
  }
  #featuredPostDiv {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  #box1Div {
    margin-right: 0;
    height: 50em;
    width: 100%;
    margin-bottom: 0.5em;
  }
  #box2Div {
    margin-left: 0;
    margin-top: 0;
    height: 70em;
    width: 100%;
  }
  #box3Div {
    margin-left: 0;
    height: 50%;
    width: 100%;
  }
  #box4Div {
    height: 50%;
    width: 100%;
    margin-top: 0.5em;
  }
  #box5Div {
    height: 100%;
    /* width: 100%; */
    margin-top: 0;
    margin-left: 0;
  }
  #box6Div {
    height: 100%;
    margin-top: 0;
    /* width: 100%; */
  }
  #fplTitle {
    font-size: 3em;
  }
  #fplExcerpt {
    font-size: 1.4em;
  }
  #topHighlightsPosts {
    flex-direction: column;
  }
  #highlightRightDiv {
    padding-left: 0;
    margin-left: 0;
  }
  #socialAccDiv {
    padding: 3em 0;
  }
  #recentPostnAd {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  #blogPostPage {
    flex-direction: column;
    width: 80%;
  }
  #blogPostsSection {
    padding-right: 0;
  }
  #blogPostImgBox {
    height: 70%;
  }
}
@media only screen and (max-width: 768px) {
  #home,
  #header {
    width: 88%;
    font-size: 100%;
  }
  #featuredImageDiv {
    background-size: 130% !important;
  }
  .featuredExcerpt {
    display: none;
  }
  #postDetailsBox {
    width: 88%;
    font-size: 95%;
  }
  #subButton {
    display: none;
  }
  #box2Div {
    margin-left: 0;
    height: 120em;
    width: 100%;
  }
  #box3Div {
    margin-left: 0;
    height: 50%;
    width: 100%;
  }
  #box4Div {
    height: 100%;
    width: 100%;
    margin-top: 1em;
    flex-direction: column;
  }
  #box5Div {
    height: 100%;
    width: 100%;
    /* margin-top: 0; */
    margin-left: 0;
  }
  #box6Div {
    height: 100%;
    /* margin-top: 0; */
    width: 100%;
    margin-left: 0;
  }
  #highlightsPosts {
    height: 57em;
    margin-bottom: 2em;
  }
  #blogPostPage {
    width: 88%;
  }
  #blogPostDiv {
    width: 100%;
    height: calc(50em + 40vw);
    /* height: 80%; */
    flex-direction: column;
  }
  #blogPostImgBox {
    width: 100%;
    height: 100%;
    flex: 0.7;
  }
  #blogPostDetailsBox {
    flex: 0.3;
    margin-left: 0;
    margin-top: 2em;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 576px) {
  #smMenuDiv > label {
    display: none;
  }
  .featuredExcerpt {
    display: none;
  }
  #textDisc {
    left: 16px;
    right: 8px;
  }

  #home,
  #header {
    width: 92%;
    font-size: 90%;
  }
  #featuredImageDiv {
    background-size: 160% !important;
  }
  #postDetailsBox {
    width: 90%;
    font-size: 80%;
  }
  #postDetails {
    padding: 0 !important;
  }
  #highlightsPosts {
    width: 100%;
    height: 57em;
    /* margin-bottom: 1em; */
  }
  #highlightsPostsImage {
    height: 60%;
  }
  #recentPostnAd {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 370px) {
  #smMenuDiv > label {
    display: none;
  }
  #home,
  #header,
  #blogPostPage {
    width: 95%;
    font-size: 70%;
  }
  #postDetailsBox {
    width: 95%;
    font-size: 80%;
  }
  #textDisc {
    left: 12px;
    right: 2px;
  }
  #featuredImageDiv {
    background-size: 200% !important;
  }
}
@media only screen and (max-width: 290px) {
  #smMenuDiv > label {
    display: none;
  }
  #home,
  #header {
    width: 95%;
    font-size: 60%;
  }
  #postDetailsBox {
    width: 95%;
    font-size: 75%;
  }
  #textDisc {
    left: 16px;
    right: 0;
  }
}
 @media only screen and (max-width: 990px) {
  #menu {
    z-index: 10;
    position: absolute;
    display: block;
    opacity: 0;
    top: 10em;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: all .5s;
    /* transition: color .1s; */
    border: none;
    /* transform: translateY(100px); */
    box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.186);
    }
    #menu svg {
      display: none;
    }
    #menu li {
      display: flex;
      margin-right: 0;
      justify-content: center;
    }
    #menu li a {
      padding: 0.8em 1em;
    }
    #menu.active{
      display: block ;
      top: 9em;
      transition: all .2s;
      z-index: 10;
      opacity: 1;
    }
}

/* .toggleMenu { */
  /* animation: toggleMenu .5s ease linear; */
/* } */

/* @keyframes toggleMenu { */
  /* 0%{
    top: 10em !important;
    display: none;
  }
  100%{
    top: 7em !important;
    display: block;
  } */
/* } */

