.header {
  width: 100%;
  font-family: 'Rubik', sans-serif;
}

.navbar {
  padding: 1.6em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_left > a {
  display: flex;
  align-items: center;
}

.navbar_left > a > h1 {
  font-size: 2.5em;
  font-family: "Roboto Slab", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  position: relative;
}

/* .menu li:first-child a{
    color: #2163e8 !important;
    margin-left: 0;
    padding-left: 0;
} */

.menu > li {
  font-size: 1.8em;
  font-weight: 600;
  margin-right: 1.5em;
  display: flex;
  align-items: center;
  position: relative;
}

.menu > li > a {
  padding: 1em 0;
}

.menu > li:hover,
.menu > li > a:focus,
.menu > li > a.active {
  color: #2163e8;
}

.navbarRight{
    display: flex;
    align-items: center;
}

.smMenu{
  display: flex;
  align-items: center;
  margin-right: .5em;
  color: rgb(125, 124, 124);
  cursor: pointer;
  display: none;
}

.smMenu > label{
  font-size: 1.5em;
  margin-right: .1em;
  cursor: pointer;
}

.navbarRight > button{
  background-color: #d6293e;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 1em 1.2em;
  font-size: 1.4em;
  font-weight: 600;
  transition: background-color .3s ease-in;
  cursor: pointer;
  margin-right: .8em;
}

.navbarRight > button:hover{
  background-color: #b72233;
  transition: background-color .1s ease;
}

#serchIcon{
  font-size: 3em;
}

.navbarRight > svg{
  cursor: pointer;
  color: gray;
  padding: .1em;
}

.navbarRight > svg:hover{
  color: #2163e8;
}