.header {
  width: 78%;
  margin: auto;
  font-family: 'Rubik', sans-serif;
  background-color: white;
  z-index: 9999;
  transition: position .5s;
}

.navbar {
  padding: 1.6em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar_left > a {
  display: flex;
  align-items: center;
}

.navbar_left > a > h1 {
  font-size: 3em;
  font-family: "Roboto Slab", sans-serif;
  font-style: italic;
  font-weight: 400;
  margin-left: -5px;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  position: relative;
  color: #383a40;
}


.menu > li {
  font-size: 1.6em;
  font-weight: 600;
  margin-right: 2em;
  display: flex;
  align-items: center;
  position: relative;
}

.menu > li > a {
  padding: 1em 0;
}

.menu > li > a:focus,
.menu > li > a:hover,
.menu > li > a.active {
  color: #2163e8;
}



.navbarRight{
    display: flex;
    align-items: center;
}

.smMenu{
  display: flex;
  align-items: center;
  margin-right: .5em;
  color: rgb(71, 69, 69);
  cursor: pointer;
  display: none;
}

.smMenu > label{
  font-size: 1.5em;
  margin-right: .1em;
  cursor: pointer;
}

.navbarRight > button{
  background-color: #d6293e;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 1em 1.2em;
  font-size: 1.4em;
  font-weight: 600;
  transition: background-color .3s ease-in;
  cursor: pointer;
  margin-right: .8em;
}

.navbarRight > button:hover{
  background-color: #b72233;
  transition: background-color .1s ease;
}

#serchIcon{
  font-size: 3em;
}

.navbarRight > svg{
  cursor: pointer;
  color: gray;
  padding: .1em;
  
}

.navbarRight > svg:hover{
  color: #2163e8;
}