.home{
    margin: auto;
}

.topHighlightsPosts{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 4em;
    flex-wrap: wrap;
}

.highlightLeftDiv{
    flex: 0.75;
}

.highlightLeftDiv > div{
    margin-bottom: 4em;

}


.highlightTitleDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.highlightTitleDiv > h1{
    font-size: 3em;
    font-family: "Nunito Sans", sans-serif;
    margin-left: .2em;
}

.highlightTitleDiv ~ p{
    font-size: 1.6em;
    font-family: 'Rubik', sans-serif;
}

/* .highlightLeftDiv > div{
    margin-bottom: 4em;
} */

.highlightsPostsBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0em !important;
}


.highlightRightDiv{
    flex: 0.25;
    margin-left: 2.5em;
}

.categoriesBox{
    display: flex;
    margin: 1em 0 0 0;
    height: auto;
    flex-direction: column;
    padding: 1em .4em 0 .4em;
}

.categoriesBox > h1{
    
    font-size: 2.5em;
    padding: .5em .5em;
}

.recentPostnAd{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.recentPostsBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 1em;
    /* align-items: center; */
    /* justify-content: center; */
}

.recentPostsBox > h1{
    font-size: 2.2em;
    font-weight: 500;
    padding: .5em 0;
}

.addShowDiv{
    width: 100%;
    height: 45em;
    background-color: gray;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.addShowDiv > h1{
    font-size: 4em;
    color: rgb(199, 199, 199);
    padding: 2em;
}

