.lightText{
    color: gray;
    transition: color .2s ease-in-out;
}

.darkText{
    color: gray;
    transition: color .2s ease-in-out;
}

.smfont{    
    transition: font-size .2s ease-in-out;
}

