.lightText{
    color: rgb(190, 190, 190);
    transition: color .2s ease-in-out;
}

.darkText{
    color: rgb(54, 54, 54);
    transition: color .2s ease-in-out;
}

.smfont{    
    transition: font-size .2s ease-in-out;
}

