.top__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.44);
  padding-bottom: .5em;
  width: 78%;
  margin: auto;
  font-family: 'Rubik', sans-serif;
}

#top_header__left {
  font-weight: 500;
}

#top_header__ol {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.top_header__list > a {
  padding-right: 1em;
  cursor: pointer;
  font-size: 1.5em;
  transition: color 0.2s;
}

.top_header__list > a:hover {
  color: #2163e8;
  transition: color 0.2s;
}

#top_header__right {
  display: flex;
  align-items: center;
}


#social_media_handles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#social_media__handles > svg {
  margin-left: 0.1em;
  padding: 0.1em 0 0.1em 0.1em;
  cursor: pointer;
}

#social_media__handles > svg:hover {
  color: #2163e8;
}
@media only screen and (max-width: 990px)  {
  #top__header{
      display: none !important;
  }
} 
